---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>reverseindiancallscam.org</title>
    <script
      data-goatcounter="https://stats.reverseindiancallscam.org/count"
      async
      src="//stats.reverseindiancallscam.org/count.js"></script>
  </head>
  <body>
    <h1>reverseindiancallscam.org</h1>
    <p>Come back later lol</p>

    <a href="https://github.com/tricked-dev/reverseindiancallscam.org"
      >Star the repo while your waiting</a
    >
  </body>
</html>
