---
import img from "./image.png";
import buy from "./buy.png";
import mole from "./mole.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>reverseindiancallscam.org</title>
    <script
      data-goatcounter="https://stats.reverseindiancallscam.org/count"
      async
      src="//stats.reverseindiancallscam.org/count.js"></script>

    <!--
	Hello seems like you know how to "program" so you can view my source code
    here https://github.com/tricked-dev/reverseindiancallscam.org
	Drop a follow and star kthxbye
	-->
  </head>
  <body>
    <h1>reverseindiancallscam.org</h1>
    <span>R.I.S.C</span>
    <table>
      <tr>
        <td>
          <img src={img.src} height="500" />
        </td>
        <td>
          Do you want to help "scam" indians to to make it think that they are
          getting a visa but instead you are getting paid?<br />
          <marquee>Well with this 5 step plan you can become rich</marquee>
          <ol>
            <li>Find indian</li>
            <li>
              Call them about a plan you have to make it possible to move to the
              usa
            </li>
            <li>Tell them you can get a <bold>cheap</bold> visa for them</li>
            <li>Accept payment in gift cards or bank transfers</li>
            <li>????</li>
            <li>Profit</li>
          </ol>
          <button><img src={buy.src} height="100" /></button>
        </td>
      </tr>
      <tr>
        <td>
          <img src={mole.src} height="400" />
        </td>
        <td
          ><h1>Plan 2</h1>
          MOLE
          <ol>
            <li>
              Use the moles we have in scam agencies to install crypto miners on
              their computers
            </li>
            <li>Use profits to pay of more moles to install crypto miners</li>
            <li>
              Moles also give info about the employees in the agencies to better
              do plan 2
            </li>
            <li>???</li>
            <li>Return profits to scammed people</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td
          ><h1>Become a member</h1>
          <button
            style="text-align:center; color:red; background-color: blue; padding: 20px;"
            >Click here to join and become a member</button
          >
        </td>
        <td
          ><h1>Fundraising event</h1>

          <p>
            The fundraising event will be held at <kdb
              >100 Legends Way, Boston, MA 02114</kdb
            > at <span id="time">nov 20 2024 from 9pm to 12am</span><script>
              const time = document.querySelector("time");
              const d = new Date();
              time.innerText = time?.innerText.replace(
                "2024",
                (d.getFullYear() + 1).toString()
              );
            </script>
            <bold>Attendees</bold>
            <ul>
              <li>Stoic Stick</li>
              <li>Jensen Huang</li>
              <li>Pony Ma</li>
              <li>Rajesh Gopinathan</li>
            </ul>
          </p>
        </td>
      </tr>
    </table>
    <p>© Copyright R.I.S.C non profit</p>
  </body>
</html>
